.popup-window {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #00000090;
    display: flex;
    opacity: 0;
    transition: 1s;
    div {
        width: 300px;
        height: auto;
        max-height: 85vh;
        border: 3px solid #f2f2f2;
        vertical-align: middle;
        background: #2d303a;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #ffffff;
        padding: 40px 10px;
        word-break: break-word;
        overflow: auto;
    }
}
.popup-window.open {
    opacity: 1;
    z-index: 9999;
}